@charset "UTF-8";

/* Указываем box sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */

ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */

img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/

article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */

html {
  font-size: 16px;
}

body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  color: rgb(0, 0, 0);
  background-color: #3d3c3c;
  background-image: url(../img/bg-header.png);
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
}

.container {
  padding: 0.6rem;
  max-width: 64.1rem;
  margin: 0 auto;
}

.header__container {
  padding: 0.6rem;
  max-width: 77.6rem;
  margin: 0 auto;
}

.header__inner {
  margin-top: 6.6rem;
  background-color: #333;
  border-radius: 2.5rem;
  border: 0.2rem solid #fff;
  height: 42.4rem;
}

.menu {
  margin-top: 1.3rem;
  padding-left: 4.6rem;
  padding-right: 3.8rem;
  background-color: transparent;
  z-index: 111;
}

.menu__item {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 1.1rem;
  color: #fff;
}

.menu__link-issues {
  margin-left: 24rem;
  background-color: transparent;
  z-index: 11;
}

.menu__link-issues a {
  color: #fff;
  opacity: 70%;
}

.menu__link a {
  color: #fff;
  cursor: pointer;
  z-index: 15;
  opacity: 70%;
}

.menu__link a:hover,
.menu__link-issues a:hover {
  color: #fff;
  cursor: pointer;
  z-index: 15;
  opacity: 100%;
  transition: all 0.3s;
}

.header__inner {
  position: relative;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(3.2rem) brightness(115%);
  backdrop-filter: blur(3.2rem) brightness(115%);
  margin-bottom: 10.7rem;
}

.header__img {
  position: absolute;
  top: 6.6rem;
  left: 38.68rem;
  border-bottom-right-radius: 2.5rem;
  z-index: 5;
  width: 37.5rem;
}

.logo {
  position: relative;
}

.logo__upper {
  position: absolute;
  top: 0rem;
  left: 2.9rem;
  font-family: "MonteCarlo", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 15.6rem;
  line-height: 26.5rem;
  color: #FFFFFF;
}

.logo__upper-k {
  position: absolute;
  top: 6.5rem;
  left: 8.9rem;
  font-family: "MonteCarlo", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 15.6rem;
  line-height: 26.5rem;
  color: #FFFFFF;
}

.logo__star {
  position: absolute;
  top: 19rem;
  left: 32.9rem;
  width: 7.3rem;
  height: 5.5rem;
}

.logo__letter {
  position: absolute;
  top: -0.5rem;
  left: 13.9rem;
  font-family: "MonteCarlo", cursive;
  font-weight: 400;
  font-size: 7.7rem;
  line-height: 21.2rem;
  color: #FFFFFF;
}

.logo__letter-kosh {
  position: absolute;
  top: 5.5rem;
  left: 19.9rem;
  font-family: "MonteCarlo", cursive;
  font-weight: 400;
  font-size: 7.7rem;
  line-height: 21.2rem;
  color: #FFFFFF;
}

.logo .logo__text {
  position: absolute;
  margin-top: 21.4rem;
  margin-left: 22rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.3rem;
  color: #FFFFFF;
}

.header__trigger {
  text-align: center;
  margin-top: 28.9rem;
  margin-left: -36.4rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #FFFFFF;
}

.btn {
  margin-top: 2rem;
}

.header__btn {
  width: 14.4rem;
  height: 3.5rem;
  padding: 0.6rem 1.9rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.35) 15%, rgba(0, 0, 0, 0.14) 90%);
  border-radius: 0.6rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header__info-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 2.2rem;
  color: #FFFFFF;
  margin-bottom: 2.3rem;
}

.header__info-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: #FFFFFF;
  margin-bottom: 4.9rem;
}

.header__buttons {
  margin-bottom: 5rem;
}

.header__buttons-link {
  display: flex;
  justify-content: space-around;
}

.whatme {
  background-color: rgba(255, 255, 255, 0.3);
  padding-bottom: 3.8rem;
  margin-bottom: 7.9rem;
}

.whatme__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 2.9remx;
  color: #FFFFFF;
  margin-top: 5rem;
  margin-bottom: 4.4rem;
}

.whatme__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.whatme__box {
  width: 26.5rem;
  margin-top: 3.2rem;
}

.whatme__subtitle {
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #FFFFFF;
  margin-bottom: 1.8rem;
}

.whatme__subtitle img {
  width: 2.9rem;
  margin-left: 0.9rem;
}

.whatme__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #FFFFFF;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer__contact,
.footer a,
.footer__links,
.footer__social-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2.5rem;
  color: #FFFFFF;
  opacity: 70%;
}

.footer__contact img,
.footer a img,
.footer__links img,
.footer__social-title img {
  width: 2rem;
}

.footer a:hover {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2.5rem;
  color: #FFFFFF;
  opacity: 100%;
  transition: all 0.3s;
}

.footer__social-icon {
  display: flex;
}

.burger-menu__control {
  display: none;
}

@media (max-width: 1249px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1085px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 1017px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 931px) {
  html {
    font-size: 11px;
  }

  .burger-menu {
    z-index: 232;
  }

  .burger-menu__control {
    position: absolute;
    display: block;
    margin-left: 34rem;
    margin-top: 1rem;
    z-index: 27;
    width: 3rem;
    background-image: url(../img/x.svg);
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;
    transition: 0.4s;
  }

  .burger-menu .menu__item {
    left: 0rem;
    display: block;
    position: absolute;
    height: 100%;
    font-size: 3rem;
    line-height: 5rem;
    z-index: 24;
    top: 0;
    padding: 3rem;
    border-radius: 25px;
    background-color: #000;
    transition: 0.4s;
  }

  .burger-menu .menu__link-issues {
    display: none;
  }

  .burger-menu__open {
    z-index: 232;
  }

  .burger-menu__open .burger-menu__control__open {
    margin-left: 71em;
    background-image: url(../img/menu.svg);
    transition: 0.4s;
  }

  .burger-menu__open .menu__item {
    left: -54rem;
    display: block;
    position: absolute;
    height: 100%;
    font-size: 3rem;
    line-height: 5rem;
    z-index: 24;
    top: 0;
    padding: 3rem;
    border-radius: 1.6rem;
    background-color: #000;
    transition: 0.4s;
  }

  .burger-menu__open .menu__link-issues {
    display: none;
  }
}

@media (max-width: 865px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 777px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 8px;
  }

  .header__info-title {
    font-size: 2.9rem;
    line-height: 4.2rem;
  }

  .header__info-text {
    font-size: 2rem;
    line-height: 3.25rem;
  }

  .header__btn {
    font-size: 2rem;
  }
}

@media (max-width: 627px) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 547px) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 470px) {
  html {
    font-size: 5px;
  }

  .burger-menu__control {
    position: absolute;
    display: block;
    left: -3rem;
  }

  .whatme__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 6rem;
  }

  .whatme__subtitle {
    display: flex;
    font-size: 2.4rem;
    line-height: 1.6rem;
    color: #FFFFFF;
    margin-bottom: 1.8rem;
    align-items: center;
    justify-content: space-between;
  }

  .whatme__title {
    font-size: 2.9rem;
    line-height: 2.9remx;
    color: #FFFFFF;
    margin-top: 5rem;
    margin-bottom: 4.4rem;
    text-align: center;
  }

  .footer__contact,
  .footer a,
  .footer__links,
  .footer__social-title {
    font-size: 2rem;
  }

  .footer a img,
  .footer__links img,
  .footer__social-title img {
    width: 4rem;
  }
}

@media (max-width: 411px) {
  html {
    font-size: 4.5px;
  }
}

@media (max-width: 390px) {
  html {
    font-size: 4.5px;
  }

  .burger-menu__control {
    position: absolute;
    display: block;
    left: -3rem;
  }
}

@media (max-width: 350px) {
  html {
    font-size: 4px;
  }

  .burger-menu__control {
    position: absolute;
    display: block;
    left: -3rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}