@charset "UTF-8";

/* Указываем box sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */

ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */

img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/

article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */

body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  color: rgb(0, 0, 0);
  background-color: #3d3c3c;
}

a {
  text-decoration: none;
}

.container {
  padding: 0.6rem;
  max-width: 77.6rem;
  margin: 0 auto;
}

.header__inner {
  margin-top: 6.6rem;
  background-color: #333;
  border-radius: 2.5rem;
  border: 3px solid #fff;
  height: 42.4rem;
}

.menu {
  margin-top: 1.6rem;
  padding-left: 4.6rem;
  padding-right: 3.8rem;
  background-color: transparent;
}

.menu__item {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 1.1rem;
  color: #fff;
  z-index: 11;
}

.menu__link-issues {
  margin-left: 24rem;
  background-color: transparent;
  z-index: 11;
}

.header__inner {
  position: relative;
  background: linear-gradient(334deg, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.74) 100%);
}

.header__img {
  position: absolute;
  top: -7.2rem;
  left: 23.9rem;
  border-radius: 2.5rem;
  z-index: 1;
}

.logo {
  position: relative;
}

.logo__upper {
  position: absolute;
  top: 0rem;
  left: 2.9rem;
  font-family: "MonteCarlo", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 15.6rem;
  line-height: 26.5rem;
  color: #FFFFFF;
}

.logo__upper-k {
  position: absolute;
  top: 6.5rem;
  left: 8.9rem;
  font-family: "MonteCarlo", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 15.6rem;
  line-height: 26.5rem;
  color: #FFFFFF;
}

.logo__letter {
  position: absolute;
  top: -1.5rem;
  left: 13.9rem;
  font-family: "MonteCarlo", cursive;
  font-weight: 400;
  font-size: 200px;
  line-height: 340px;
  color: #FFFFFF;
}

.logo__letter-kosh {
  position: absolute;
  top: 5.5rem;
  left: 19.9rem;
  font-family: "MonteCarlo", cursive;
  font-weight: 400;
  font-size: 200px;
  line-height: 340px;
  color: #FFFFFF;
}

.logo .logo__text {
  position: absolute;
  margin-top: 21.4rem;
  margin-left: 22rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.3rem;
  color: #FFFFFF;
}

.header__trigger {
  text-align: center;
  margin-top: 28.9rem;
  margin-left: -36.4rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #FFFFFF;
}

.btn {
  margin-top: 33px;
}

.header__btn {
  width: 231px;
  height: 56px;
  padding: 9px 19px;
  background: linear-gradient(180deg, rgba(186, 186, 186, 0.098) 0%, rgba(240, 240, 240, 0) 100%);
  border-radius: 10px;
  font-family: "Roboto";
  border: 5px solid transparent;
  -o-border-image: linear-gradient(85deg, rgba(32, 32, 32, 0.48) 0%, rgba(223, 222, 222, 0) 100%);
  border-image: linear-gradient(85deg, rgba(32, 32, 32, 0.48) 0%, rgba(223, 222, 222, 0) 100%);
  border-image-slice: 1;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}