@media (max-width: 1249px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1085px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 1017px) {
  html {
    font-size: 12px;
  } 
}

@media (max-width: 931px) {
  html {
    font-size: 11px;
  }
}

@media (max-width: 865px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 777px) {
  html {
    font-size: 9px;
  }
}
@media (max-width: 700px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 627px) {
  html {
    font-size: 7px;
  }
}
@media (max-width: 547px) {
  html {
    font-size: 6px;
  }
}
@media (max-width: 470px) {
  html {
    font-size: 5px;
  }
}
@media (max-width: 414px) {
  html {
    font-size: 5.3px;
  }
}
@media (max-width: 390px) {
  html {
    font-size: 4.5px;
  }
}