// @import '../_normalize';

@import '_reset';
@import '_media';
// @import '../_global';
// @import '../styles/_vars';
// @import '../styles/_mixin';
// @import '../components/header';

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  color: rgb(0, 0, 0);
  background-color: #3d3c3c;
  background-image: url(../img/bg-header.png);
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
}

.container {
  padding: 0.6rem;
  max-width: 64.1rem;
  margin: 0 auto;
}

.header {
  &__container {
    padding: 0.6rem;
    max-width: 77.6rem;
    margin: 0 auto;
  }

  &__inner {
    margin-top: 6.6rem;
    background-color: #333;
    border-radius: 2.5rem;
    border: 0.2rem solid #fff;
    height: 42.4rem;
  }
}

.menu {
  margin-top: 1.3rem;
  padding-left: 4.6rem;
  padding-right: 3.8rem;
  background-color: transparent;
  z-index: 111;

  &__item {

    display: flex;
    justify-content: space-between;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 1.1rem;
    color: #fff;

  }

  &__link-issues {
    margin-left: 24rem;
    background-color: transparent;
    z-index: 11;

    a {
      color: #fff;
      opacity: 70%;
    }
  }

  &__link {
    a {
      color: #fff;
      cursor: pointer;
      z-index: 15;
      opacity: 70%;
    }
  }

  &__link,
  &__link-issues {
    a:hover {
      color: #fff;
      cursor: pointer;
      z-index: 15;
      opacity: 100%;
      transition: all 0.3s;
    }
  }
}

.header__inner {
  position: relative;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3.2rem) brightness(115%);
  margin-bottom: 10.7rem;
}

.header__img {
  position: absolute;
  top: 6.6rem;
  left: 38.68rem;
  border-bottom-right-radius: 2.5rem;
  z-index: 5;
  width: 37.5rem;
}

.logo {
  position: relative;

  &__upper {
    position: absolute;
    top: 0rem;
    left: 2.9rem;
    font-family: 'MonteCarlo', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 15.6rem;
    line-height: 26.5rem;
    color: #FFFFFF;
  }

  &__upper-k {
    position: absolute;
    top: 6.5rem;
    left: 8.9rem;
    font-family: 'MonteCarlo', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 15.6rem;
    line-height: 26.5rem;
    color: #FFFFFF;
  }

  &__star {
    position: absolute;
    top: 19rem;
    left: 32.9rem;
    width: 7.3rem;
    height: 5.5rem;
  }

  &__letter {
    position: absolute;
    top: -0.5rem;
    left: 13.9rem;

    font-family: 'MonteCarlo', cursive;
    font-weight: 400;
    font-size: 7.7rem;
    line-height: 21.2rem;
    color: #FFFFFF;
  }

  &__letter-kosh {
    position: absolute;
    top: 5.5rem;
    left: 19.9rem;
    font-family: 'MonteCarlo', cursive;
    font-weight: 400;
    font-size: 7.7rem;
    line-height: 21.2rem;
    color: #FFFFFF;
  }

  .logo__text {
    position: absolute;
    margin-top: 21.4rem;
    margin-left: 22rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 1.3rem;
    color: #FFFFFF;
  }

}

.header__trigger {
  // display: block;
  text-align: center;
  margin-top: 28.9rem;
  margin-left: -36.4rem;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #FFFFFF;

}

.btn {
  margin-top: 2rem;

}

.header__btn {
  width: 14.4rem;
  height: 3.5rem;

  padding: 0.6rem 1.9rem;
  background: linear-gradient(180deg, rgb(255 255 255 / 35%) 15%, rgb(0 0 0 / 14%) 90%);
  border-radius: 0.6rem;
  font-family: 'Roboto';
  // border: 0.2rem solid #333;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-transform: uppercase;
  color: #FFFFFF; // transform: matrix(1, 0, 0, -1, 0, 0);
}

.header {
  &__info-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.9rem;
    line-height: 2.2rem;
    color: #FFFFFF;
    margin-bottom: 2.3rem;
  }

  &__info-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: #FFFFFF;
    margin-bottom: 4.9rem;
  }

  &__buttons {
    margin-bottom: 5rem;
  }

  &__buttons-link {
    display: flex;
    justify-content: space-around;

  }
}

.whatme {
  background-color: rgba(255, 255, 255, 0.3);
  padding-bottom: 3.8rem;
  margin-bottom: 7.9rem;

  &__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.9rem;
    line-height: 2.9remx;
    color: #FFFFFF;
    margin-top: 5rem;
    margin-bottom: 4.4rem;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

  }

  &__box {
    width: 26.5rem;
    margin-top: 3.2rem;
  }

  &__subtitle {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #FFFFFF;
    margin-bottom: 1.8rem;

    img {
      width: 2.9rem;
      margin-left: 0.9rem;
    }
  }

  &__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #FFFFFF;
  }
}

.footer {
  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__contact,
  a,
  &__links,
  &__social-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 2.5rem;
    color: #FFFFFF;
    opacity: 70%;
  img{
width: 2rem;
  }
  }


  a:hover {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 2.5rem;
    color: #FFFFFF;
    opacity: 100%;
    transition: all 0.3s;
  }

  &__social-icon {
    display: flex;
  }
}

.burger-menu {
  // display: flex;
 

  &__content {
    // display: flex;
    
  }

  &__control {
    display: none;
  }

}