// @import '../_normalize';
@import '_reset';
// @import '../_global';
// @import '../styles/_vars';
// @import '../styles/_mixin';
// @import '../components/header';

body {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  color: rgb(0, 0, 0);
  background-color: #fedb03;
}

a {
  text-decoration: none;
}

.container {
  padding: 0.6rem;
  max-width: 77.6rem;
  margin: 0 auto;
}
